<!-- Start Slider part -->
<div class="page_banner">
  <div class="bread_cumbs">
    <div class="container">
      <div class="page_title_breadcumbs">
        <h3>Contact US</h3>
        <ul>
          <li><a href="#">Home</a>&#187;</li>
          <li><a class="active" href="#">Contact US</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- End Slider part -->


<!-- Start Map Show -->
<div class="map_area">
  <div class="container">
    <div id="map_area"></div>
  </div>
</div>
<!-- End Map Show -->


<!-- Start Leave Message -->
<section class="comment_part">
  <div class="container">
    <div class="col-md-8 col-sm-7 paddingltnone">
      <div class="contact_form">
        <h2>Leave Comment</h2>
        <div class="comment_form">
          <form [formGroup]="contactForm" (ngSubmit)="sendMessage()"  method="post">
            <div class="field">
              <input type="text" class="name" placeholder="Name" name="name" [formControlName]="'name'" />
              <input type="email" class="email" placeholder="Emial" name="email" [formControlName]="'email'" />
            </div>
            <div class="field">
              <input type="text" class="phone" placeholder="Phone" name="phone" [formControlName]="'mobile'"/>
              <input type="text" class="website" placeholder="Subject" name="subject" [formControlName]="'subject'"/>
            </div>
            <div class="field">
              <textarea class="sms" placeholder="Message" name="message" [formControlName]="'message'"></textarea>
            </div>
            <input type="submit" class="form_btn" value="Submit" name="submit"/>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-5">
      <div class="address">
        <div class="single_addres">
          <i class="fa fa-map-marker"></i>
          <p>105 Mafia Street,  New york center,<br>
            denda colony united stats</p>
        </div>
        <div class="single_addres">
          <i class="fa fa-phone"></i>
          <p>123 456 7890  & <br>567 908 1021</p>
        </div>
        <div class="single_addres">
          <i class="fa fa-phone"></i>
          <p>info@medicare.com</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Leave Message -->


<!-- Start Book your appointment-->
<div class="book_appointmen_bottom">
  <div class="container">
    <div class="booknow_btn">
      <div class="col-md-3 col-sm-3 paddingbothnone">
        <div class="your_app_img">
          <img src="/images/booking.png" alt="booking img" />
        </div>
      </div>
      <div class="col-md-6 col-sm-5 paddingbothnone">
        <div class="booking_text_bottom">
          <h3>Book Your Appointment</h3>
          <p>Pellentesque turpis felis, dignissim sit amet sagittis ac, ele ignissim sit</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 paddingltnone">
        <div class="booking_buttn_bottom">
          <a href="#">Book Appointment</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Book your appointment-->
