<!-- Start Slider part -->
<div class="page_banner bg4">
  <div class="bread_cumbs">
    <div class="container">
      <div class="page_title_breadcumbs">
        <h3>Shopping Cart</h3>
        <ul>
          <li><a href="#">Home</a>&#187;</li>
          <li><a class="active" href="#">Shop</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- End Slider part -->

<!-- Start Checkout -->
<div class="shop_page_area">
  <div class="container">
    <div class="single_cart_pro">
      <div class="col-md-12">
        <form action="index.html">
          <table class="table">
            <thead class="cart_header">
            <tr>
              <th>Product</th>
              <th>Price</th>
              <th>QTY</th>
              <th>Total</th>
            </tr>
            </thead>
            <tbody class="cartbody">
            <tr class="sigle_cartpro">
              <td>
                <div class="pro_cart">
                  <img src="images/cart_product.png" alt="cart img" />
                  <h4>Zandu rhumayog Forte</h4>
                  <ul>
                    <li><a href="#" class="reated"><i class="fa fa-star"></i></a></li>
                    <li><a href="#" class="reated"><i class="fa fa-star"></i></a></li>
                    <li><a href="#" class="reated"><i class="fa fa-star"></i></a></li>
                    <li><a href="#" class="reated"><i class="fa fa-star"></i></a></li>
                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                  </ul>
                </div>
              </td>
              <td>
                <div class="car_price">
                  <p>$10.00</p>
                </div>
              </td>
              <td>
                <div class="pro_qut">
                  <input type="number" value="2"/>
                </div>
              </td>
              <td>
                <div class="total_price_cart">
                  <p>$20.00</p>
                </div>
              </td>
            </tr>
            <tr class="sigle_cartpro">
              <td>
                <div class="pro_cart">
                  <img src="images/cart_product.png" alt="cart img" />
                  <h4>Zandu rhumayog Forte</h4>
                  <ul>
                    <li><a href="#" class="reated"><i class="fa fa-star"></i></a></li>
                    <li><a href="#" class="reated"><i class="fa fa-star"></i></a></li>
                    <li><a href="#" class="reated"><i class="fa fa-star"></i></a></li>
                    <li><a href="#" class="reated"><i class="fa fa-star"></i></a></li>
                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                  </ul>
                </div>
              </td>
              <td>
                <div class="car_price">
                  <p>$10.00</p>
                </div>
              </td>
              <td>
                <div class="pro_qut">
                  <input type="number" value="2"/>
                </div>
              </td>
              <td>
                <div class="total_price_cart">
                  <p>$20.00</p>
                </div>
              </td>
            </tr>
            <tr class="sigle_cartpro">
              <td>
                <div class="pro_cart">
                  <img src="images/cart_product.png" alt="cart img" />
                  <h4>Zandu rhumayog Forte</h4>
                  <ul>
                    <li><a href="#" class="reated"><i class="fa fa-star"></i></a></li>
                    <li><a href="#" class="reated"><i class="fa fa-star"></i></a></li>
                    <li><a href="#" class="reated"><i class="fa fa-star"></i></a></li>
                    <li><a href="#" class="reated"><i class="fa fa-star"></i></a></li>
                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                  </ul>
                </div>
              </td>
              <td>
                <div class="car_price">
                  <p>$10.00</p>
                </div>
              </td>
              <td>
                <div class="pro_qut">
                  <input type="number" value="2"/>
                </div>
              </td>
              <td>
                <div class="total_price_cart">
                  <p>$20.00</p>
                </div>
              </td>
            </tr>
            <tr class="sigle_cartpro">
              <td>
                <div class="pro_cart">
                  <img src="images/cart_product.png" alt="cart img" />
                  <h4>Zandu rhumayog Forte</h4>
                  <ul>
                    <li><a href="#" class="reated"><i class="fa fa-star"></i></a></li>
                    <li><a href="#" class="reated"><i class="fa fa-star"></i></a></li>
                    <li><a href="#" class="reated"><i class="fa fa-star"></i></a></li>
                    <li><a href="#" class="reated"><i class="fa fa-star"></i></a></li>
                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                  </ul>
                </div>
              </td>
              <td>
                <div class="car_price">
                  <p>$10.00</p>
                </div>
              </td>
              <td>
                <div class="pro_qut">
                  <input type="number" value="2"/>
                </div>
              </td>
              <td>
                <div class="total_price_cart">
                  <p>$20.00</p>
                </div>
              </td>
            </tr>
            <tr class="coupon_area">
              <td>
                <div class="coupon">
                  <input type="text" class="coufield" value="Add Coupon Code"/>
                  <input type="submit" class="coupon_btn" value="Apply" />
                </div>
              </td>
              <td>
                <p style="display:none">Blank</p>
              </td>
              <td>
                <div class="total_crt">
                  <p>Cart Total</p>
                  <p>+ Shiping Charge</p>
                </div>
              </td>
              <td>
                <div class="total_p">
                  <p>$60.00</p>
                  <p>$02.00</p>
                </div>
              </td>
            </tr>
            <tr class="final_total">
              <td>
                <p style="display:none">Blank</p>
              </td>
              <td>
                <p style="display:none">Blank</p>
              </td>
              <td>
                <p class="fianl_total">Total</p>
              </td>
              <td>
                <p class="fianl_rate">$62.00</p>
              </td>
            </tr>
            </tbody>
          </table>
          <div class="cart_btn_proce">
            <input type="submit" class="procecartbtn" value="Proceed to checkout"/>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- End Checkout -->
