<!-- Start Slider part -->
<div class="page_banner bg4">
  <div class="bread_cumbs">
    <div class="container">
      <div class="page_title_breadcumbs">
        <h3>Shopping Cart</h3>
        <ul>
          <li><a href="#">Home</a>&#187;</li>
          <li><a class="active" href="#">Cart</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- End Slider part -->

<!-- Start Checkout -->
<div class="shop_page_area">
  <div class="container">
    <div class="single_cart_pro">
      <div class="col-md-12">
        <form [formGroup]="cartForm" (ngSubmit)="proceedCheckout()">
          <input type="hidden"  [formControlName]="'sessionId'" />
          <input type="hidden"  [formControlName]="'user'" />
          <table class="table">
            <thead class="cart_header">
            <tr>
              <th>Product</th>
              <th>Price</th>
              <th>QTY</th>
              <th>Total</th>
            </tr>
            </thead>
            <tbody class="cartbody" *ngIf="totalItems < 0">
            <tr>
              <th colspan="4">No Items in Cart</th>
            </tr>
            </tbody>
            <tbody class="cartbody" *ngIf="totalItems > 0 && cart.items && cart.items.length > 0">

            <tr class="sigle_cartpro" *ngFor="let item of cart.items;let i = index">
              <td>
                <div class="pro_cart">
                  <img class="thumbnail" style="width: 50px;height: 50px;" src="{{photoBaseUrl + item.photo}}" alt="{{item.productName}}" />
                  <h4>{{item.productName}}</h4>
                </div>
              </td>
              <td>
                <div class="car_price">
                  <p>{{item.price | number:'2.'}}</p>
                </div>
              </td>
              <td>
                <div class="pro_qut">
<!--                  <input type="text" [value]="item.product" [disabled]="true"/>-->
                  <input type="number" [value]="item.quantity" [disabled]="true"  />
                </div>
              </td>
              <td>
                <div class="total_price_cart">
                  <p>{{item.total | number:'2.'}}</p>
                </div>
              </td>
            </tr>
            <tr class="coupon_area">
              <td>
                <div class="coupon">
                  <input type="text" class="coufield" value="Add Coupon Code"/>
                  <input type="submit" class="coupon_btn" value="Apply" />
                </div>
              </td>
              <td>
                <p style="display:none">Blank</p>
              </td>
              <td>
                <div class="total_crt">
                  <p>Cart Total</p>
                  <p>+ Shiping Charge</p>
                </div>
              </td>
              <td>
                <div class="total_p">
                  <p>{{cart.total | number:'2.'}}</p>
                  <p>TZS 12,000</p>
                </div>
              </td>
            </tr>
            <tr class="final_total">
              <td>
                <p style="display:none">Blank</p>
              </td>
              <td>
                <p style="display:none">Blank</p>
              </td>
              <td>
                <p class="fianl_total">Total</p>
              </td>
              <td>
                <p class="fianl_rate">TZS {{cart.total + 12000 | number:'2.'}}</p>
              </td>
            </tr>
            </tbody>
          </table>
          <div class="cart_btn_proce">
            <a routerLink="/product" class="pull-left">Continue Shopping</a>

            <input type="submit" class="procecartbtn pull-right" value="Proceed to checkout"/>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- End Checkout -->
