<!-- Start Slider part -->
<div class="page_banner bg4">
  <div class="bread_cumbs">
    <div class="container">
      <div class="page_title_breadcumbs">
        <h3>Checkout</h3>
        <ul>
          <li><a href="#">Home</a>&#187;</li>
          <li><a class="active" href="#">Checkout</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- End Slider part -->

<!-- Start Checkout -->
<div class="shop_page_area">
  <div class="container">
    <div class="col-md-9 col-sm-7">
      <div class="shop_content">
        <div class="bill_details_part">
          <h2 class="billtitle">Billing Detail</h2>
          <div class="bill_frm">
            <form [formGroup]="checkoutForm" (ngSubmit)="placeOrder()">
<!--              <div class="sbill_field">-->
<!--                <input type="text" class="fieldlt" placeholder="First NAme" />-->
<!--                <input  type="text" class="fieldrt" placeholder="Last NAme" />-->
<!--              </div>-->
              <div class="sbill_field">
                <input type="text" class="fieldlt" placeholder="Phone Number" [formControlName]="'mobile'"/>
                <input  type="text" class="fieldrt" placeholder="Email if different from your account" [formControlName]="'email'" />
              </div>
              <div class="full_width_field">
                <select class="filedopsel" [formControlName]="'country'" >
                  <option>Country</option>
                  <option selected>Tanzania</option>
                </select>
                <input type="text" class="fieldful" placeholder="Address" [formControlName]="'address'" />
              </div>

              <div class="sbill_field">
                <select class=" fieldlt" [formControlName]="'city'" >
                  <option>City</option>
                  <option selected>Dar es Salaam</option>
                  <option>Arusha</option>
                  <option>Mwanza</option>
                  <option>Mbeya</option>
                  <option>Kilimanjaro</option>
                  <option>Dodoma</option>
                </select>
                <input  type="text" class="fieldrt" placeholder="Postal Code" [formControlName]="'postalCode'" />
              </div>
              <div class="paysts">
                <h2 class="billtitle">Payment  Method</h2>
                <div class="sincheckbox">
                  <input type="radio" name="paymentMethod" value="Direct Bank Transfer" [formControlName]="'paymentMethod'"> <span>Direct Bank Transfer</span>
                </div>
                <div class="sincheckbox">
                  <input type="radio" name="paymentMethod" value="Cheque payment" [formControlName]="'paymentMethod'"> <span>Cheque payment</span>
                </div>
<!--                <div class="sincheckbox">-->
<!--                  <input type="checkbox"> <span>Paypal</span>-->
<!--                </div>-->
              </div>
<!--              <div class="sbill_field">-->
<!--                <input type="email" class="fieldlt" placeholder="Enter Your Paypal EMail ID" />-->
<!--                <input  type="email" class="fieldrt" placeholder="Confirm Your Paypal EMail ID" />-->
<!--              </div>-->
              <div class="sbill_field_lst">
<!--                <button [disabled]="checkoutForm.invalid" type="submit" class="bill_btn">Place an Order</button>-->
                <button type="submit" class="bill_btn">Place an Order</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-5 paddingbothnone">
      <div class="checkoutsidebar" *ngIf="cart.items != null || settings != undefined">
        <div class="yourorder_part" >
          <h3>Your Order</h3>
          <div class="order_product" >
            <h3><span class="prolttitle">Products</span><span class="prorttotal">Total</span></h3>
            <p *ngFor="let item of cart.items;let i = index">{{item.productName}} x {{item.quantity}} <span class="orproall">{{item.price | number:'2.'}}</span></p>
          </div>
          <div class="calcu_product" *ngIf="settings != undefined">
            <p><span class="orpro">Subtotal</span><span class="orproall">{{cart.total | number:'2.'}}</span></p>
            <p><span class="orpro">Tax Change</span><span class="orproall">{{(cart.total * settings.tax/100) | number:'2.'}}</span></p>
            <p><span class="orpro">Shipping Charge</span><span class="orproall">{{settings.shipping | number:'2.'}}</span></p>
          </div>
          <div class="orchekout">
            <p *ngIf="settings != null"><span class="orpro">Total Amount</span><span class="orproall">{{cart.total + (cart.total * settings.tax/100) + settings.shipping | number:'2.'}}</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Checkout -->
