<!-- Start Slider part -->
<div class="page_banner bg4">
  <div class="bread_cumbs">
    <div class="container">
      <div class="page_title_breadcumbs">
        <h3>Checkout</h3>
        <ul>
          <li><a href="#">Home</a>&#187;</li>
          <li><a class="active" href="#">Checkout</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- End Slider part -->

<!-- Start Checkout -->
<div class="shop_page_area">
  <div class="container">
    <div class="col-md-9 col-sm-7">
      <div class="shop_content">
        <div class="bill_details_part">
          <h2 class="billtitle">Billing Detail</h2>
          <div class="bill_frm">
            <form action="index.html">
              <div class="sbill_field">
                <input type="text" class="fieldlt" placeholder="First NAme" />
                <input  type="text" class="fieldrt" placeholder="Last NAme" />
              </div>
              <div class="sbill_field">
                <input type="text" class="fieldlt" placeholder="Phone Number" />
                <input  type="text" class="fieldrt" placeholder="Email ID" />
              </div>
              <div class="full_width_field">
                <select class="filedopsel">
                  <option>Country</option>
                  <option>USA</option>
                  <option>Canada</option>
                  <option>Enland</option>
                </select>
                <input type="text" class="fieldful" placeholder="Address" />
              </div>
              <div class="sbill_field">
                <input type="text" class="fieldlt" placeholder="City" />
                <input  type="text" class="fieldrt" placeholder="Postal Code" />
              </div>
              <div class="paysts">
                <div class="sincheckbox">
                  <input type="checkbox"> <span>Direct Bank Transfer</span>
                </div>
                <div class="sincheckbox">
                  <input type="checkbox"> <span>Checque payment</span>
                </div>
                <div class="sincheckbox">
                  <input type="checkbox"> <span>Paypal</span>
                </div>
              </div>
              <div class="sbill_field">
                <input type="email" class="fieldlt" placeholder="Enter Your Paypal EMail ID" />
                <input  type="email" class="fieldrt" placeholder="Confirm Your Paypal EMail ID" />
              </div>
              <div class="sbill_field_lst">
                <input type="submit" class="bill_btn" value="Place an Order" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-5 paddingbothnone">
      <div class="checkoutsidebar">
        <div class="yourorder_part">
          <h3>Your Order</h3>
          <div class="order_product">
            <h3><span class="prolttitle">Products</span><span class="prorttotal">Total</span></h3>
            <p><span class="orpro">Zandu rhumayog Forte x 1</span><span class="orproall">$10.00</span></p>
            <p><span class="orpro">Rhumayog Gold x 2</span><span class="orproall">$20.00</span></p>
            <p><span class="orpro">Glucon d x 2</span><span class="orproall">$60.00</span></p>
          </div>
          <div class="calcu_product">
            <p><span class="orpro">Subtotal</span><span class="orproall">$90.00</span></p>
            <p><span class="orpro">Shipping Charge</span><span class="orproall">$10.00</span></p>
          </div>
          <div class="orchekout">
            <p><span class="orpro">Total Amount</span><span class="orproall">$100.00</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Checkout -->
