<div class="main_header">
  <!-- Start Header Top -->
  <div class="header_top_area">
    <div class="container">
      <div class="header_top">
        <ul>
          <li><a href="mailto:info@medicare.com"><i class="fa fa-envelope"></i> info@medicare.com</a></li>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- End Header Top-->

  <!-- Start Header -->
  <div class="header">
    <div class="container">
      <div class="logo_contact_info_part">
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="logo">
            <a href="/"><img src="./assets/images/logo.png" alt="logo" /></a>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="cont_info">
            <div class="week">
              <img src="./assets/images/date_icon.png" alt="date" />
              <p>Mon to Sat <br><span>10:30 to 17:30</span> </p>
            </div>
            <div class="call_us">
              <img src="./assets/images/mobile_icon.png" alt="date" />
              <p>Call Us<br><span>022888999</span></p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="booking_cart">
            <div *ngIf="isLoggedIn()" class="cart_count">
              <a routerLink="/cart"><i class="fa fa-shopping-cart"></i> <span class="cart_co">2</span></a>
            </div>
            <div class="book_now">

              <a *ngIf="!isLoggedIn()" class="form_btn"  routerLink="/login">Login</a>

              <button *ngIf="isLoggedIn()" class="form_btn" (click) = "logout()">logout</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Header -->

  <!-- Start Menu area -->
  <div class="nav_search_area hidden-xs">
    <div class="container">
      <div class="menu_area">
        <div class="col-md-9">
          <div class="nav_part">
            <nav class="navbar navbar-default">
              <div class="container-fluid">
                <div class="row">
                  <div class="main_menu">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                      <ul class="nav">
                        <li><a routerLink="/" [routerLinkActive]="['active']">Home</a></li>
                        <li><a routerLink="/product" [routerLinkActive]="['active']"> Products </a></li>
<!--                        <li *ngIf="isLoggedIn()"><a routerLink="/checkout" [routerLinkActive]="['active']"> Checkout </a></li>-->
                        <li *ngIf="isLoggedIn()"><a routerLink="/cart" [routerLinkActive]="['active']">Cart</a></li>
                        <li><a routerLink="contact" [routerLinkActive]="['active']">Contact</a></li>
                      </ul>
                    </div><!-- /.navbar-collapse -->
                  </div>
                </div>
              </div><!-- /.container-fluid -->
            </nav>
          </div>
        </div>
        <div class="col-md-3">
          <div class="search">
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" id="src_field" class="form-control" placeholder="Search">
                <input type="submit" id="src_btn" value="Search"/>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Menu area -->
</div>
