<!-- Start Slider part -->
<div class="page_banner bg4">
  <div class="bread_cumbs">
    <div class="container">
      <div class="page_title_breadcumbs">
        <h3>Product Details</h3>
        <ul>
          <li><a href="#">Home</a>&#187;</li>
          <li><a class="active" href="#">Shop</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- End Slider part -->

<!-- Start Product Details -->
<div class="shop_page_area">
  <div class="container">
    <div class="col-md-9 col-sm-8">
      <div class="shop_content">
        <div class="product_details">
          <div class="detail_product_img">
            <div class="pro_img_detail">
              <div class="detail_main_img">
                <a data-gal="prettyPhoto[pp_gal2]" href="images/detail_img.jpg"><img src="images/detail_img.jpg" alt="single img" /></a>
              </div>
              <div class="detail_small_img">
                <ul>
                  <li><a data-gal="prettyPhoto[pp_gal2]" href="images/detail_img.jpg" ><img src="images/detail_img_sm1.jpg" alt="small img" /></a></li>
                  <li><a data-gal="prettyPhoto[pp_gal2]" href="images/detail_img.jpg" ><img src="images/detail_img_sm2.jpg" alt="small img" /></a></li>
                </ul>
              </div>
            </div>
            <div class="pro_text_details">
              <div class="detail_title">
                <h3>Zandu rhumayog Forte</h3>
                <div class="sing_rating">
                  <ul>
                    <li><a class="reated" href="#"><i class="fa fa-star"></i></a></li>
                    <li><a class="reated" href="#"><i class="fa fa-star"></i></a></li>
                    <li><a class="reated" href="#"><i class="fa fa-star"></i></a></li>
                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                  </ul>
                  <p>In Stock</p>
                </div>
              </div>

              <div class="pro_sing_price">
                <h3>$10.00 <del>$13. 00</del></h3>
              </div>

              <div class="sing_add_cart">
                <a href="#">Add To cart</a>
              </div>

            </div>
          </div>
        </div>

        <div class="pro_dese_single">
          <h4>Product Discription</h4>
          <p>Pellentesque turpis felis, dignissim sit amet sagittis ac, elemen augue. Aliquam vitae enim afd add risus.laoreet metus.elemen siquam elementum quisaugue.  emiquam vitae enim afd add risus., at laoreet metus.elemen siquam elementum quisaugue</p>
        </div>

        <div class="pro_review_tab">
          <div id="parentHorizontalTab">
            <ul class="resp-tabs-list hor_1">
              <li>Specification</li>
              <li>Reviews</li>
              <li>Our Policy</li>
            </ul>

            <div class="resp-tabs-container hor_1">
              <div>
                <div class="lorem1">
                  <p>Pellentesque turpis felis, dignissim sit amet sagittis ac, elemen augue. Aliquam vitae enim afd add risus. laoreet metus.elemen siquam elementum quisaugue.  emiquam vitae enim afd add risus., at laoreet metus.elemen siquam elementum quisaugue</p>
                  <div class="tab_list">
                    <div class="single_tab_list">
                      <ul>
                        <li>Suspendisse a amet enim.</li>
                        <li>Integer aliquam suscipit .</li>
                        <li>Pellentesque sem ornare.</li>
                      </ul>
                    </div>
                    <div class="single_tab_list">
                      <ul>
                        <li>Suspendisse a amet enim.</li>
                        <li>Integer aliquam suscipit .</li>
                      </ul>
                    </div>
                    <div class="single_tab_list">
                      <ul>
                        <li>Suspendisse a amet enim.</li>
                        <li>Integer aliquam suscipit .</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <div class="lorem2">
                  <p>Pellentesque turpis felis, dignissim sit amet sagittis ac, elemen augue. Aliquam vitae enim afd add risus. laoreet metus.elemen siquam elementum quisaugue.  emiquam vitae enim afd add risus., at laoreet metus.elemen siquam elementum quisaugue</p>
                  <div class="tab_list">
                    <div class="single_tab_list">
                      <ul>
                        <li>Suspendisse a amet enim.</li>
                        <li>Integer aliquam suscipit .</li>
                        <li>Pellentesque sem ornare.</li>
                      </ul>
                    </div>
                    <div class="single_tab_list">
                      <ul>
                        <li>Suspendisse a amet enim.</li>
                        <li>Integer aliquam suscipit .</li>
                      </ul>
                    </div>
                    <div class="single_tab_list">
                      <ul>
                        <li>Suspendisse a amet enim.</li>
                        <li>Integer aliquam suscipit .</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <div class="lorem3">
                  <p>Pellentesque turpis felis, dignissim sit amet sagittis ac, elemen augue. Aliquam vitae enim afd add risus. laoreet metus.elemen siquam elementum quisaugue.  emiquam vitae enim afd add risus., at laoreet metus.elemen siquam elementum quisaugue</p>
                  <div class="tab_list">
                    <div class="single_tab_list">
                      <ul>
                        <li>Suspendisse a amet enim.</li>
                        <li>Integer aliquam suscipit .</li>
                        <li>Pellentesque sem ornare.</li>
                      </ul>
                    </div>
                    <div class="single_tab_list">
                      <ul>
                        <li>Suspendisse a amet enim.</li>
                        <li>Integer aliquam suscipit .</li>
                      </ul>
                    </div>
                    <div class="single_tab_list">
                      <ul>
                        <li>Suspendisse a amet enim.</li>
                        <li>Integer aliquam suscipit .</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="rel_product">
          <h4 class="rel_title">Related Products</h4>
          <div class="single_product">
            <div class="prod_img">
              <a href="#"><img src="images/product1.jpg" alt="Product" /></a>
              <div class="adcart_overly">
                <p>Pellentesque turpis felis, dignissim sit amet sagittis ac, elemen augue. Aliquam vitae enim afd add risus.</p>
                <a href="#">Add To cart</a>
              </div>
            </div>
            <div class="prod_title_cart">
              <div class="pro_title_star">
                <h3><a href="#">Zandu rhumayog Forte</a></h3>
                <ul>
                  <li><a class="reated" href="#"><i class="fa fa-star"></i></a></li>
                  <li><a class="reated" href="#"><i class="fa fa-star"></i></a></li>
                  <li><a class="reated" href="#"><i class="fa fa-star"></i></a></li>
                  <li><a class="reated" href="#"><i class="fa fa-star"></i></a></li>
                  <li><a href="#"><i class="fa fa-star"></i></a></li>
                </ul>
              </div>
              <div class="cart_pro">
                <a href="#"><i class="fa fa-shopping-cart"></i></a>
              </div>
            </div>
            <div class="pro_price">
              <p>$10.00 <del>$13.00</del></p>
            </div>
          </div>
          <div class="single_product">
            <div class="prod_img">
              <a href="#"><img src="images/product1.jpg" alt="Product" /></a>
              <div class="adcart_overly">
                <p>Pellentesque turpis felis, dignissim sit amet sagittis ac, elemen augue. Aliquam vitae enim afd add risus.</p>
                <a href="#">Add To cart</a>
              </div>
            </div>
            <div class="prod_title_cart">
              <div class="pro_title_star">
                <h3><a href="#">Zandu rhumayog Forte</a></h3>
                <ul>
                  <li><a class="reated" href="#"><i class="fa fa-star"></i></a></li>
                  <li><a class="reated" href="#"><i class="fa fa-star"></i></a></li>
                  <li><a class="reated" href="#"><i class="fa fa-star"></i></a></li>
                  <li><a class="reated" href="#"><i class="fa fa-star"></i></a></li>
                  <li><a href="#"><i class="fa fa-star"></i></a></li>
                </ul>
              </div>
              <div class="cart_pro">
                <a href="#"><i class="fa fa-shopping-cart"></i></a>
              </div>
            </div>
            <div class="pro_price">
              <p>$10.00 <del>$13.00</del></p>
            </div>
          </div>
          <div class="single_product">
            <div class="prod_img">
              <a href="#"><img src="images/product1.jpg" alt="Product" /></a>
              <div class="adcart_overly">
                <p>Pellentesque turpis felis, dignissim sit amet sagittis ac, elemen augue. Aliquam vitae enim afd add risus.</p>
                <a href="#">Add To cart</a>
              </div>
            </div>
            <div class="prod_title_cart">
              <div class="pro_title_star">
                <h3><a href="#">Zandu rhumayog Forte</a></h3>
                <ul>
                  <li><a class="reated" href="#"><i class="fa fa-star"></i></a></li>
                  <li><a class="reated" href="#"><i class="fa fa-star"></i></a></li>
                  <li><a class="reated" href="#"><i class="fa fa-star"></i></a></li>
                  <li><a class="reated" href="#"><i class="fa fa-star"></i></a></li>
                  <li><a href="#"><i class="fa fa-star"></i></a></li>
                </ul>
              </div>
              <div class="cart_pro">
                <a href="#"><i class="fa fa-shopping-cart"></i></a>
              </div>
            </div>
            <div class="pro_price">
              <p>$10.00 <del>$13.00</del></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-4">
      <div class="shop_sidebar">
        <div class="shop_src">
          <input type="text" class="shop_src_field" />
          <input type="submit" class="shop_src_btn"  value="src" />
        </div>
        <div class="shop_category">
          <h3>Categories</h3>
          <ul>
            <li><a href="#">Dental product (15)</a></li>
            <li><a href="#">Cancer capsule (20)</a></li>
            <li><a href="#">Teeth cleaner (54)</a></li>
            <li><a href="#">Pregnancy tube (15)</a></li>
            <li><a href="#">Medical treatment (14)</a></li>
            <li><a href="#">Medicine (500)</a></li>
            <li><a href="#">Cardiology (20)</a></li>
          </ul>
        </div>
        <div class="price_filter">
          <h3>Filter By Price</h3>
          <img src="images/shop_filter.png" alt="filter img" />
          <p>Price: <span>$07 — $129</span></p>
        </div>
        <div class="popular_product_slide">
          <h3>Popular Products</h3>
          <div class="popular_pro">
            <div class="product_carousel">
              <div class="single_product">
                <img src="images/product1.jpg" alt="Product" />
                <div class="prod_title_cart">
                  <div class="pro_title_star">
                    <h3><a href="#">Zandu rhumayog Forte</a></h3>
                    <ul>
                      <li><a class="reated" href="#"><i class="fa fa-star"></i></a></li>
                      <li><a class="reated" href="#"><i class="fa fa-star"></i></a></li>
                      <li><a class="reated" href="#"><i class="fa fa-star"></i></a></li>
                      <li><a href="#"><i class="fa fa-star"></i></a></li>
                      <li><a href="#"><i class="fa fa-star"></i></a></li>
                    </ul>
                  </div>
                  <div class="cart_pro">
                    <a href="#"><i class="fa fa-shopping-cart"></i></a>
                  </div>
                </div>
                <div class="pro_price">
                  <p>$10.00 <del>$13.00</del></p>
                </div>
              </div>
              <div class="single_product">
                <img src="images/product1.jpg" alt="Product" />
                <div class="prod_title_cart">
                  <div class="pro_title_star">
                    <h3><a href="#">Zandu rhumayog Forte</a></h3>
                    <ul>
                      <li><a class="reated" href="#"><i class="fa fa-star"></i></a></li>
                      <li><a class="reated" href="#"><i class="fa fa-star"></i></a></li>
                      <li><a class="reated" href="#"><i class="fa fa-star"></i></a></li>
                      <li><a href="#"><i class="fa fa-star"></i></a></li>
                      <li><a href="#"><i class="fa fa-star"></i></a></li>
                    </ul>
                  </div>
                  <div class="cart_pro">
                    <a href="#"><i class="fa fa-shopping-cart"></i></a>
                  </div>
                </div>
                <div class="pro_price">
                  <p>$10.00 <del>$13.00</del></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="product_tag">
          <h3>TAgs Cloud</h3>
          <a href="#">Dental</a>
          <a href="#">Health</a>
          <a href="#">Foods</a>
          <a href="#">Cardiologist</a>
          <a href="#">Homiopathy</a>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- End Product Details -->
