<!-- Start Slider part -->
<div class="slider_area">
  <div class="tp-banner" >
    <ul>
      <!-- SLIDE  -->
      <li data-transition="random" data-slotamount="7" data-masterspeed="1500" >
        <!-- MAIN IMAGE -->
        <img src="./assets/images/slide_1.jpg"  alt="slidebg1"  data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat">
        <!-- LAYERS -->
        <!-- LAYER NR. 1 -->
        <div class="tp-caption lightgrey_divider skewfromrightshort fadeout"
             data-x="-90"
             data-y="280"
             data-speed="500"
             data-start="1200"
             data-easing="Power4.easeOut" style="font-family: roboto; font-size: 16px; color: #fff; background: #3f4b5d; text-transform: uppercase; display: inline-block; min-height:27px; line-height: 27px; width: auto; padding: 0 12px;">Specialist in
        </div>
        <!-- LAYER NR. 2 -->
        <div class="tp-caption large_black sfr start"
             data-x="-90"
             data-y="295"
             data-speed="500"
             data-start="1200"
             data-easing="Power4.easeOut" style="background: transparent;"><img src="./assets/images/slider_caption_dantal.png" alt="">
        </div>
        <!-- LAYER NR. 3 -->
        <div class="tp-caption lightgrey_divider skewfromleftshort fadeout"
             data-x="-90"
             data-y="430"
             data-speed="500"
             data-start="1200"
             data-easing="Power4.easeOut" style="background: transparent; font-size:16px; font-family: roboto; font-weight:300; color: #2a2e35; line-height: 25px; width: 295px; word-wrap: break-word; display: inline-block;">Pellentesque turpis felis, dignissim sit amet sagittis  ele<br>mentum quis augue
        </div>
        <!-- LAYER NR. 4 -->
        <div class="tp-caption lfb carousel-caption-inner start fadeout"
             data-x="-90"
             data-y="500"
             data-speed="500"
             data-start="1200"
             data-easing="Power4.easeOut" style="font-family: roboto; font-size: 16px; background: #ff5454; text-transform: uppercase; display: inline-block; min-height:47px; line-height: 47px; width: auto; padding: 0 19px; border-bottom: 2px solid #d33434;"><a style="color: #fff" href="#">Book Appointment</a>
        </div>
      </li>
      <!-- SLIDE  -->
      <li data-transition="random" data-slotamount="7" data-masterspeed="1000" >
        <!-- MAIN IMAGE -->
        <img src="./assets/images/slide_2.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat">
        <!-- LAYERS -->
        <!-- LAYER NR. 1 -->
        <div class="tp-caption lightgrey_divider skewfromrightshort fadeout"
             data-x="-90"
             data-y="280"
             data-speed="500"
             data-start="1200"
             data-easing="Power4.easeOut" style="font-family: roboto; font-size: 16px; color: #fff; background: #3f4b5d; text-transform: uppercase; display: inline-block; min-height:27px; line-height: 27px; width: auto; padding: 0 12px;">Specialist in
        </div>
        <!-- LAYER NR. 2 -->
        <div class="tp-caption large_black sfr start"
             data-x="-90"
             data-y="295"
             data-speed="500"
             data-start="1200"
             data-easing="Power4.easeOut" style="background: transparent;"><img src="./assets/images/slider_caption_dantal.png" alt="">
        </div>
        <!-- LAYER NR. 3 -->
        <div class="tp-caption lightgrey_divider skewfromleftshort fadeout"
             data-x="-90"
             data-y="430"
             data-speed="500"
             data-start="1200"
             data-easing="Power4.easeOut" style="background: transparent; font-size:16px; font-family: roboto; font-weight:300; color: #2a2e35; line-height: 25px; width: 295px; word-wrap: break-word; display: inline-block;">Pellentesque turpis felis, dignissim sit amet sagittis  ele<br>mentum quis augue
        </div>
        <!-- LAYER NR. 4 -->
        <div class="tp-caption lfb carousel-caption-inner start fadeout"
             data-x="-90"
             data-y="500"
             data-speed="500"
             data-start="1200"
             data-easing="Power4.easeOut" style="font-family: roboto; font-size: 16px; background: #ff5454; text-transform: uppercase; display: inline-block; min-height:47px; line-height: 47px; width: auto; padding: 0 19px; border-bottom: 2px solid #d33434;"><a style="color: #fff" href="#">Book Appointment</a>
        </div>
      </li>
    </ul>
  </div>
</div>
<!-- End Slider part -->

