<!-- Start Footer -->
<div class="footer_top_area">
  <div class="footer_top">
    <div class="container">
      <div class="footertop">
        <div class="col-md-3 col-sm-4">
          <div class="faddress">
            <img src="./assets/images/map_dir.png" alt="address" />
            <h3>Address</h3>
            <p>Mbezi, Near Magufuli Bus Stand, <br>Dar es Salaam, Tanzania</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-4">
          <div class="emcall">
            <img src="./assets/images/emcall.png" alt="address" />
            <h3>Emergency ( 24x7 )</h3>
            <p>Mobile: +255-777-888-999 <br>Toll Free : 022-777-888-999</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-4">
          <div class="emailus">
            <img src="./assets/images/mess.png" alt="address" />
            <h3>Email Us</h3>
            <p>info@medicare.com  & <br>info@medicare.com</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 display-none">
          <div class="emailus">
            <img src="./assets/images/clock.png" alt="address" />
            <h3>Working Hours</h3>
            <p>Mon to Sat  <span>10:30 AM to 11:30 PM </span><br>
              Sunday <span>11:30 AM to 16:00 PM </span></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer_middle">
    <div class="container">
      <div class="newsletter_part">
        <div class="col-md-4 col-sm-5 paddingltnone">
          <div class="news_letter">
            <h4>Subscribe Newsletter</h4>
            <input type="email" id="nwsemail" placeholder="Email ID"/>
            <input type="submit" id="nwssubmit" value="GO" />
          </div>
        </div>
        <div class="col-md-8 col-sm-7">
          <div class="medicare">
            <h3>About Medicare</h3>
            <p>Eum quidem quam in enim quisquam non iusto delectus et tenetur quia. Et provident voluptatem in ullam quas vel tempora ipsum in itaque dolore aut repudiandae nobis 33 dolore rerum eum esse quis. At nemo enim eum tempore saepe et Quis minus 33 sapiente quia in temporibus dolores?</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer_menu_area">
    <div class="container">
      <div class="footer_menu_in">
        <div class="col-md-10 col-sm-10">
          <div class="footer_menu">
            <nav>
              <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="doctors.html">Doctors</a></li>
                <li><a href="service.html">Services</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="contact.html">Contact</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="col-md-2 col-sm-2">
          <div class="back_top">
            <a href="#"><img src="../assets/images/backtop.png" alt="backtop" /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Footer -->
