<!-- Start Footer Bottom -->
<div class="footer_bottom">
  <div class="container">
    <div class="footer_copyright">
      <div class="col-md-8 col-sm-8">
        <div class="copy_text">
          <p>&copy;2022. All Rights Reserved by <a href="/">medicare.com</a></p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="footer_social">
          <ul>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Footer Bottom -->
