<!-- Start Slider part -->
<div class="page_banner bg4">
  <div class="bread_cumbs">
    <div class="container">
      <div class="page_title_breadcumbs">
        <h3>Oppps</h3>
        <ul>
          <li><a href="#">Home</a>&#187;</li>
          <li><a class="active" href="#">Page Not Found</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- End Slider part -->
<div class="shop_page_area">
<div class="container">
<div id="notfound">
  <div class="notfound-bg">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="notfound">
    <div class="notfound-404">
      <h1>404</h1>
    </div>
    <h2>Page Not Found</h2>
    <p>The page you are looking for might have been removed had its name changed or is temporarily unavailable.</p>
    <a href="#">Homepage</a>
    <div class="notfound-social">
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-pinterest"></i></a>
      <a href="#"><i class="fa fa-google-plus"></i></a>
    </div>
  </div>
</div>
</div>
</div>
