<!-- Start Slider part -->
<div class="page_banner">
  <div class="bread_cumbs">
    <div class="container">
      <div class="page_title_breadcumbs">
        <h3>Appointment</h3>
        <ul>
          <li><a href="#">Home</a>&#187;</li>
          <li><a class="active" href="#">Appointment</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- End Slider part -->

<!-- Star Appointment form -->
<div class="appointment_area">
  <div class="container">
    <div class="app_tile">
      <h2>Fill the form</h2>
      <h5> & book your appointment </h5>
    </div>
    <div class="col-md-8 col-sm-7 paddingbothnone">
      <div class="app_frm afrmbg">
        <form action="index.html">
          <div class="app_main_frm">
            <div class="appfrm_top">
              <div class="afrm_lt">
                <input type="text" class="apofield" placeholder="Name" />
                <input type="text" class="apofield" placeholder="Phone" />
                <input type="text" class="datepicker apdtefield" placeholder="Date Of birth"/>
                <input type="text" class="datepicker apdtefield" placeholder="Date for appointment"/>
              </div>
              <div class="afrm_rt">
                <input type="email" class="apofield" placeholder="Email" />
                <input type="url" class="apofield" placeholder="Website" />
                <select class="dropdfield">
                  <option>Select Your Department</option>
                  <option>Med Department</option>
                  <option>Phar Department</option>
                </select>
                <select class="dropdfield">
                  <option>Gender</option>
                  <option>Male</option>
                  <option>Female</option>
                </select>
              </div>
            </div>
            <textarea class="apmessage" placeholder="Message"></textarea>
          </div>
          <div class="app_btn_part">
            <input type="submit" class="ap_btn" value="Book Appointment" />
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-4 col-sm-5 paddingrtnone aimgbg">
      <div class="apo_img">
        <div class="app_img">
          <p><img src="images/appointment_img.jpg" alt="appointment" /></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Appointment form -->

